h1{ text-align: center; }
h2{ text-align: center; }
a{ text-decoration: none; }
body{ background-color:white; color:black; font-family:verdana}

#navbar{ justify-content:center; margin-right:1.5em; display:flex; font-size:20px; /* border-style:solid; */ margin-right:0; margin-left:0; }
#navbar-item-main{ background-image:url('line.png'); background-repeat:repeat-x; background-position:100% 100%; padding-bottom:8px; white-space:nowrap; }
#wrapper{ display:none; }
#banner{ background-color:#64c2ef; border-radius: 25px; padding-bottom:1px; padding-top:1px; text-align:center;}
#banner img{ margin-right:1.5em; animation:image-spin 35s linear 0s infinite; }
#aboutMe{ font-size:20px; margin-right:.15em; }
#accordion-resizer { justify-content:center; }

.aboutMeEntries{ width:70%; margin:0; margin-left:auto; margin-right:auto; border:9px solid; border-radius: 20px; }
.accordionEntry{ text-align:left;font-size:30px; }
.beforeInfoDiv{ display:inline-block; }
.infoDiv{ color:blue; display:inline-block; }
.navbar-item{ padding-right:1.5em; }
.rainbow { animation: colorRotate 6s linear 0s infinite; }


.ui-accordion-header-active{ background-color:#007fff !important; color:white !important;}

/* Tic-Tac-Toe Game Page */
@media screen and (max-width: 900px) { #tic-tac-toe-board{ font-size:11em !important; } }
@media screen and (max-width: 600px) { #tic-tac-toe-board{ font-size:8em !important; } }
@media screen and (max-width: 460px) { #tic-tac-toe-board{ font-size:6em !important; } }
@media screen and (max-width: 380px) { #tic-tac-toe-board{ font-size:4em !important; } }
@media screen and (max-width: 285px) { #tic-tac-toe-board{ font-size:2em !important; } }
@media screen and (max-width: 200px) { #tic-tac-toe-board{ font-size:2em !important; } }

#tic-tac-toe-board{ text-align:center; font-size:13em; margin-left:5%; width:90%; }

.gameRow{ display:inline-block; }
.game-entry{ border:solid; }
.game-entry-top{ border-right:solid; }
.game-entry-middle{ border-right:solid; }
.game-entry-bottom{ border-right:solid; }

@keyframes colorRotate {
    from { color: rgb(255, 0, 0); }
    16.6% { color: rgb(255, 0, 255); }
    33.3% { color: rgb(0, 0, 255); }
    50% { color: rgb(0, 255, 255); }
    66.6% { color: rgb(0, 255, 0); }
    83.3% { color: rgb(255, 255, 0); }
    to { color: rgb(255, 0, 0); }
}

@keyframes image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}