h1{ text-align: center; font-family: Quattrocento Sans, Verdana; }
h2{ text-align: center; font-family: Quattrocento Sans, Verdana; }
a{ text-decoration: none; font-weight: bold; }

.navbar-item{ padding-right:2%; }
.section h2{ margin-left:5%; margin-right:5%; }


@media screen and (max-device-width:1199px){
	html{ font-size:50%; }
}
