#course{ height:100%; border:8px solid; }
#background{ width:100%; height:100%; }
#player{ position:absolute; height:7.5%; width:3.75%; animation:rotate 4s infinite }
#stats{ border: solid 10px blue; }

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}